{
    admin "unix//run/caddy/admin.socket"
}

btcmap.org {
    root * /srv/http/data.btcmap.org
    file_server
    @notstatic not path /data.json
    reverse_proxy @notstatic localhost:3333
    encode gzip
}

data.btcmap.org {
    root * /srv/http/data.btcmap.org
    file_server
    encode zstd gzip
}

import /etc/caddy/conf.d/*