{
    admin "unix//run/caddy/admin.socket"
}

data.btcmap.org {
    root * /srv/http/data.btcmap.org
    file_server
    encode gzip

    header {
        Access-Control-Allow-Origin *
    }
}

api.btcmap.org {
    reverse_proxy localhost:8000

    header { 
        Access-Control-Allow-Origin *
    }
}

import /etc/caddy/conf.d/*